<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>menu</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>
  <body>

    <div id="vue">

      <button v-on:click="changeLabels">{{menu_flag}}</button>
      <!-- wrong order, auto-sorting by id? how to fix? -->
      <ul>
        <li v-for="(label, id) in menu_labels" v-on:click="openContentPage(id)">{{label}}</li>
      </ul>
      <button v-on:click="openAddPage">add</button>

      <!-- <p>{{note}}</p> -->

    </div>

    <script type="text/javascript">
      var app = new Vue({
        el: '#vue',
        data: {
          menu_labels: [],
          url: {
            all_labels: 'http://127.0.0.1:9000/allLabels',
            published_labels: 'http://127.0.0.1:9000/publishedLabels',
            content_page: 'http://127.0.0.1:9000/content',
            add_page: 'http://127.0.0.1:9000/add',
            read_note: 'http://127.0.0.1:9000/read/'
          },
          menu_flag: false,
          id: ''
        },
        created: function(){
          this.getPublishedLabels();
        },
        methods: {
          getAllLabels(){
            axios.get(this.url.all_labels).then((response) =>
            {
              this.menu_labels = response.data
            });
          },
          getPublishedLabels(){
            axios.get(this.url.published_labels).then((response) =>
            {
              this.menu_labels = response.data
            });
          },
          changeLabels(){
            if (this.menu_flag) {
              this.getPublishedLabels()
            } else {
              this.getAllLabels()
            }
            this.menu_flag = !this.menu_flag
          },
          openContentPage(id){
              window.location.href = (this.url.content_page + '?id=' + id)
          },
          openAddPage(){
            window.location.href = this.url.add_page
          }
        }
      })
    </script>

  </body>
</html>
